name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
        
  build:
    environment: CICD
    runs-on: ubuntu-latest
    needs: clippy_check

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build
    - name: Run tests - Full
      run: cargo test --all-features
    - name: Run tests - http1
      run: cargo test --features http1
    - name: Run tests - http2
      run: cargo test --features http2

  coverage:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Install tarpaulin
        run: cargo install cargo-tarpaulin
      - name: Code coverage check
        run: |
          cargo tarpaulin --all-features --workspace --config ../../coverage.toml --fail-under 80